@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MarvinVisions';
    src: url('./assets/fonts/MarvinVisions-Bold.woff');
}


html {
    --filter-track-0: #1d1d1d;
    --filter-track-1: #00000050;
}
html[class='dark'] {
    --filter-track-0: #F5F5F5;
    --filter-track-1: #ffffff50;
}

body {
    background-color: #1A1A1A;
    color: aliceblue;
    font-family: 'Space Mono';
}

/* custom scrollbar start */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* custom scrollbar end */

/* customizing slider */
.filter-track.filter-track-0 {
    height: 8px;
    border-radius: 10px;
    background: var(--filter-track-0);
}

.filter-track.filter-track-1 {
    height: 8px;
    border-radius: 10px;
    background: var(--filter-track-1);
}

.filter-thumb.filter-thumb-1,
.filter-thumb.filter-thumb-0 {
    outline: none;
}

.filter-thumb.filter-thumb-1 .mark-wrap {
    display: flex;
    /* justify-content: end; */
}

.filter-thumb .f_mark {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--filter-track-0);
    margin-top: -4px;
    margin-left: 2px;
}

.filter-thumb.filter-thumb-1 {
    margin-left: 10px;
}

.filter-thumb.filter-thumb-1 .f_value {
    position: absolute;
    right: 0;
}

/* slider end */